<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kongyu.mapper.UserNopwdMapper">

        <resultMap id="UserNopwd" type="com.kongyu.pojo.UserNoPwd">
            <result column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="pwd" property="password"/>
        </resultMap>

        <select id="selectAllUser"  resultMap="UserNopwd">
            select id ,name ,pwd  from user;
        </select>
</mapper>